body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; 
}

th {
  width: 120px;
  padding-top: 25px;
  padding-bottom: 30px;
}

td {
  padding: 5px;
}

.time {
  height: 40px;
}

/* Event component styles */
.event {
  border-radius: 5px;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

/* Background colors */
.pink {
  background-color: #ff69b4; /* Vibrant pink */
}

.blue {
  background-color: #1e90ff; /* Vibrant blue */
}

.green {
  background-color: #32cd32; /* Vibrant green */
}

.purple {
  background-color: purple;
}

.red{
  background-color: red;
}

.orange{
  background-color: orange;
}

.yellow{
  background-color: yellow;
}